@{
    ViewData["Title"] = "Contact";
}
<!------ Include the above in your HEAD tag ---------->

<div class="container" style="margin-top:15px;">
	<div style="width: 100%">
        <iframe width="100%" height="600" src="https://maps.google.com/maps?width=100%&amp;height=600&amp;hl=en&amp;coord=51.9172185,-4.4840498&amp;q=Wijnhaven%20107+(Game%20Now)&amp;ie=UTF8&amp;t=&amp;z=17&amp;iwloc=B&amp;output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0">
            <a href="https://www.maps.ie/map-my-route/">Create a route on google maps</a>
        </iframe>
    </div>
    <br />
    <div class="contact-form">
		<h1>Contact Us</h1>
		<h2>We are here to assist you.</h2>
		<form class="needs-validation" action="/" method="POST" novalidate>
            <div class="form-group">
                <input class="form-control" type="text" name="name" placeholder="Your Name" required />
                <div class="invalid-feedback">
                    Please write a name.
                </div>
            </div>
            <div class="form-group">
			    <input class="form-control" type="email" name="e-mail" placeholder="Your E-mail Adress" required />
                <div class="invalid-feedback">
                    Please write a correct email address.
                </div>
            </div>
            <div class="form-group">
			    <input class="form-control" type="number" name="phone" placeholder="Your Phone Number" required/>
                <div class="invalid-feedback">
                    Please write a phone number.
                </div>
            </div>
            <div class="form-group">
			    <textarea class="form-control" name="text" id="" rows="8" placeholder="Your Message" required></textarea>
                <div class="invalid-feedback">
                    Please state the problem or tip.
                </div>
            </div>
			<button class="btn btn-primary">Contact us!</button>
		</form>
	</div>
</div>
<script>
// Example starter JavaScript for disabling form submissions if there are invalid fields
(function() {
  'use strict';
  window.addEventListener('load', function() {
    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    var forms = document.getElementsByClassName('needs-validation');
    // Loop over them and prevent submission
    var validation = Array.prototype.filter.call(forms, function(form) {
      form.addEventListener('submit', function(event) {
        if (form.checkValidity() === false) {
          event.preventDefault();
          event.stopPropagation();
        }
        form.classList.add('was-validated');
      }, false);
    });
  }, false);
})();
</script>